<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <label> Skill Description </label>
        <input type="text" name="desc">
        <label> Level </label>
        <select name="level">
            <option value="senior" default>Senior</option>
            <option value="junior">Junior</option>
        </select>
        <label> Certified </label>
        <input type="radio" name="certified" value="false">

        <button type="submit">Save Skill</button>
    </form>
</body>

</html>